@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Font Style
*/
h1 {
  font-family: "LibreBaskerville", serif;
}
.font-heading {
  font-family: "LibreBaskerville", serif;
}
p {
  font-family: "Lato", serif;
}
.font-sub {
  font-family: "Lato", serif;
}
.wid {
  width: 0.125rem;
}

/*
Navbar
*/
.text {
  color: black;
}
.services {
  display: none;
}
.service:hover .services {
  display: block;
}
/*
Banner Style
*/
@media (max-width: 1390px) {
  .banner {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: auto;
  }
}
@media (min-width: 1390px) {
  .banner {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 680px;
  }
}
